<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - Münster.Web - Webtechnologien aus Münster</title>
    
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" />
    <link rel="stylesheet" href="assets/css/styles.css" />

    <link rel="shortcut icon" href="assets/ico/favicon.ico">
  </head>

  <body>
    <div class="container" id="header">
      
      <div class="row">
        <div class="span5">
          <h1><span>Münster.Web <small>Web-Technologies Münster</small></span></h1>
        </div>
        <div class="span7">
          <img src="assets/images/button.png" class="pull-right" />
        </div>
      </div>
    
      <ul class="nav nav-pills">
        <li class="active"><a href="index.html#home">Home</a></li>
        <li><a href="index.html#veranstaltungen">Veranstaltungen</a></li>
        <li><a href="index.html#veranstaltungsreihen">Veranstaltungs-Reihen</a></li>
        <li><a href="index.html#partner">Partner</a></li>
      </ul>
    </div>
    
    <div class="container" id="content">
      {{ content }}
    </div>
    
    <div class="container">
      <div class="row">
        <div class="span12" id="footer">
          <ul>
            <li><a href="impressum.html">Impressum</a></li>
          </ul>
        </div>
      </div>
    </div>
    
  </body>
</html>

